@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Nunito:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(#000 60%, #262626);
}

.global-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr;
  overflow: scroll;
}

.glass {
  background: rgba(24, 127, 191, 0.15);
  box-shadow: 0 8px 32px 0 rgba(35, 195, 237, 1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.glass:hover {
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
}

.portfolio-container {
  height: max-content;
}

.iframe-placeholder {
  background: url('https://media.giphy.com/media/26BkMeKTW96DDUwYE/giphy.gif') 0px 0px no-repeat center;
}